.contacto{
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	color: #fff;
	width: 100%;
	height: 100%;
	background-color: #000;
}

.contacto__formulario{
	width: 45%;
	padding: 30px 0;
}

.contenedor-img{
	width: 45%;
	padding-top: 30px;
}

.img-contacto{
	width: 100%;
	height: 100%;
	margin-bottom: 30px;
}

form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

fieldset {
	border: none;
}

legend{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}
label{
	display: none;
}

.contacto__donde,
.contacto__news{
	display: block;
	color: #c6c6c6;
}

input{
	background: rgba(0, 0, 0, .7);
	color: #ffffff;
	font-size: 16px;
	padding: 0px 10px 10px 5px;
	width: 100%;
	height: 50px;
	border: none;
	border-radius: 5px;
	border: 1px solid #979797;
	resize: none;
}

textarea{
	background: rgba(0, 0, 0, .7);
	color: #ffffff;
	font-size: 16px;
	padding: 5px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-radius: 5px;
	border: 1px solid #979797;
	resize: none;
	font-family: 'Raleway', sans-serif;
}

.contacto__botones{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.boton{
	width: 200px;
	padding: 15px;
	border: 1px solid #979797;
	background: #fff;
	color: #000;
	cursor: pointer;
	margin: 10px;
	line-height: auto;
	border-radius: 5px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	-webkit-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	&:hover{
		color: #fff;
		background: #363636;
	}
}